{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Yang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="{% static 'accounts/css/auth.css'%}">
</head>
<body class="auth-page">
    <header>
        <div class="logo">
            <div class="logo-icon"></div>
        </div>
        <nav>
            <a href="/">Главная</a>
            <a href="/artists/">Артисты</a>
            <a href="/albums/">Альбомы</a>
            <a href="/favorites/">Избранное</a>
        </nav>
    </header>

    <main class="auth-container">
        <div class="auth-card">
            <h2>Вход в аккаунт</h2>
            
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="auth-messages">
                    <p class="message {{ error_type  }}">{{ error }}</p>
                </div>
            {%endfor%}
            {% endif %}
            
            <form method="post" 
      action="{% url 'login' %}" 
      novalidate
      id="loginForm"
      data-validate-url="{% url 'validate' %}"
      data-csrf="{{ csrf_token }}">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="username">Имя пользователя или Email</label>
                    <input value="{{form.username.value|default:'' }}" type="text" id="username" name="username" required placeholder="Введите логин" autocomplete="username">
                </div>
                {%if form.username.errors%}
                    <p class="username">{{ form.username.errors.0 }}</p>
                {%endif%}
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required placeholder="Введите пароль" autocomplete="current-password">
                    <button type="button" class="password-toggle" onclick="togglePassword('password', this)">
                        <i class="ti ti-eye"></i>
                    </button>
                </div>
                {%if form.password1.errors%}
                    <p class="password1">{{ form.password1.errors.0 }}</p>
                {%endif%}
                <div class="form-options">
                    <label class="checkbox">
                        <input type="checkbox" name="remember"> Запомнить меня
                    </label>
                    {% comment %} <a href="{% url 'password_reset' %}" class="forgot-link">Забыли пароль?</a> {% endcomment %}
                </div>
                
                <button type="submit" class="btn-primary">Войти</button>
            </form>
            
            <p class="auth-switch">
                Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </p>
        </div>
    </main>
    <script src="{% static 'accounts/js/api_validate.js' %}"></script>
<script src="{% static 'accounts/js/api_login.js' %}"></script>
</body>
</html>