{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Жанры | Yang</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <div class="logo-icon"></div>
        </div>
        <nav>
            <a href="/">Главная</a>
            <a href="/artists/" class="active">Артисты</a>
            <a href="/albums/">Альбомы</a>
            <a href="/favorites/">Избранное</a>
        </nav>
        <div class="search-bar">
            <span></span>
            <input type="text" placeholder="Поиск треков, артистов.." id="serchInput">
        </div>
    </header>
    <main class="artists-page">
    <h1>Артисты</h1>
    <div class="artists-grid">
        {% for artist in artists %}
        <a href="/artists/{{artist.slug}}" class="artist-card" {% if artist.photo %}style="--avatar: url('{{ artist.photo.url }}')"{% endif %}>
            {% if not artist.photo %}
            <i class="ti ti-user artist-placeholder"></i>
            {% endif %}
            <span class="artist-name">{{ artist.name }}</span>
        </a>
        {% endfor %}
    </div>
</main>
</body>
</html>